<%- include('header') %>


<div>
    <form id="reset-password-form" action="/reset-password/<%= validToken.token %>" method="POST">
        <div class="input-group">
            <label for="new-password">New password</label>
            <input type="password" id="new-password" name="newPassword">
        </div>
        <div class="input-group">
            <label for="new-password-again">New password again</label>
            <input type="password" id="new-password-again" name="confirmPassword">
        </div>
        <div id="password-error" style="color: red; display: none;">
            Passwords do not match.
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
<%- include('footer') %>

<script>
    document.getElementById('reset-password-form').addEventListener('submit', function(event) {
        const newPassword = document.getElementById('new-password').value;
        const confirmPassword = document.getElementById('new-password-again').value;

        if (newPassword !== confirmPassword) {
            event.preventDefault();

            document.getElementById('password-error').style.display = 'block';
        }
    });
</script>