<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Critique</title>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <link rel="stylesheet" href="/css/index.css">
</head>


<body>
<div class="top-bar">
    <ul>
        <li class="title">MovieCritique</li>
        <li><a href="profile.html" id="profile">Profile</a></li>
    </ul>
</div>