<%- include('header') %>

<div class="main">
    <form action="/login" method="POST">
    <div class="input-group">
        <label for="username">Username</label>
        <input id="username" >
    </div>
    <div class="input-group">
        <label for="password">Password</label>
        <input id="password" type="password" >
        <button id="submit">submit</button>
    </div>
    </form>
    <div>
        No accounts yet? <a href="/register">Register here</a>
    </div>

    <div>
        Forgot your password? You idiot <a href="/forgot-password">click here</a>
    </div>

</div>


<%- include('footer') %>