<%- include('header') %>

<div class="main">
    <div class="input-group">
        <label for="username">Username</label>
        <input id="username" >
    </div>
    <div class="input-group">
        <label for="password">Password</label>
        <input id="password" type="password" >
        <a href="tables.ejs"><button id="submit">submit</button></a>

    </div>
    <div>
        No accounts yet? <a href="register.ejs">Register here</a>
    </div>
    <div>
        Forgot your password? You idiot <a href="../views/forgotpassword.ejs">click here</a>
    </div>

</div>


<%- include('footer') %>