<%- include('header') %>

<div class="movie-modify">
  <h2>Modify Movie</h2>
  <div class="input-group">
    <label for="title">Movie Title:</label>
    <input type="text" id="title" name="title" value="Skibidi Toilet: The Movie">
  </div>
  <div class="input-group">
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" value="Drama/Slice of Life">
  </div>
  <div class="input-group">
    <label for="director">Director:</label>
    <input type="text" id="director" name="director" value="P. Diddy">
  </div>

  <a href="tables.ejs"><button type="submit">Submit</button></a>
</div>


<%- include('footer') %>