<%- include('header') %>


<div class="main">
    <form action="/register" method="POST">
    <div class="input-group">
        <label for="email">Email</label>
        <input name="Email" id="email" type="email" required>
    </div>

    <div class="input-group">
        <label for="username">Username</label>
        <input name="Username" id="username" required>
    </div>

    <div class="input-group">
        <label for="password">Password</label>
        <input name="Password" id="password" type="password" required>
    </div>
    <div>
        <input type="checkbox" required> I agree to terms and services
    </div>
    <div>
        <button type="submit" id="register">Register</button>
    </div>
    </form>
</div>


<%- include('footer') %>