<%- include('header') %>

<div class="main">
    <div class="input-group">
        <label for="email">Email</label>
        <input id="email" type="email" >
    </div>

    <div class="input-group">
        <label for="username">Username</label>
        <input id="username">
    </div>

    <div class="input-group">
        <label for="password">Password</label>
        <input id="password" type="password" >
    </div>
    <div>
        <input type="checkbox"> I agree to terms and services
    </div>
    <div>
        <button id="register">Register</button>
    </div>



</div>


<%- include('footer') %>