body{
    margin: 0;
}

.top-bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
    background-color: grey;
    padding: 0;
    margin: 0;
}


.top-bar .title{
    color: white;


}

.top-bar a{
    color:white;
    text-align:center;
    text-decoration: none;
    display: block;
}

.top-bar a:hover{
    background-color:darkgrey;
}

.top-bar li {
    float: none;
}

.main{
    position: relative;
    width:100%;
    padding: 20px;
}

.input-group{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap:10px;
}

.input-group label{
    width: 100px;
    text-align: left;
}

input{

}

.movie-table table{
    width: 40%;
    border-collapse: collapse;
}

.movie-table td, .movie-table th{
    border: 1px solid black;
    padding: 4px;
}

.main .pfp{
    border: 3px solid black;
}